﻿@model IEnumerable<TallerIV.Models.Pais>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Seleccionar", "Index", new { id = item.Id }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<table class="table">
    <tr>
        <th>
            Ciudades Asociadas
        </th>
    </tr>
    @foreach (var item in (List<TallerIV.Models.Ciudad>)ViewBag.Ciudades)
    {
        <tr>
            <td>
                @item.Nombre
            </td>
        </tr>
    }
</table>