﻿@model TallerIV.Models.UsuarioPaisViewModel

@{
    ViewBag.Title = "CrearUsuarioPais";
}

<h2>CrearUsuarioPais</h2>

@using(Html.BeginForm()){
    
    @Html.LabelFor(model => model.Username, "Nombre de Usuario", new { @class = "sr-only" })
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Nombre de Usuario" })
    @Html.ValidationMessageFor(model => model.Username)
    
    @Html.LabelFor(model => model.Password, "Contraseña", new { @class = "sr-only" })
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
    @Html.ValidationMessageFor(model => model.Password)
    
    @Html.LabelFor(model => model.Pais, "Pais", new { @class = "sr-only" })
    @Html.TextBoxFor(model => model.Pais, new { @class = "form-control", @placeholder = "Pais" })
    @Html.ValidationMessageFor(model => model.Pais)
     
    <input type="submit" value="Crear" class="btn btn-default" />
}
