﻿@model TallerIV.Models.User

@{
    ViewBag.Title = "Creacion";
    
    List<string> paises = new List<string>();
    
    paises.Add("Chile");
    paises.Add("Argentina");
    
    var listaPaises = new SelectList(paises);
    SelectList usuarios = (SelectList)ViewBag.Usuarios;
}

<h2>Creacion</h2>

@using(Html.BeginForm()){
 
    @*@Html.TextBox("username", null, new { @class = "form-control", @placeholder = "Nombre de Usuario" })
    <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario" />
    @Html.DropDownList("paises", listaPaises, "=======Seleccione un pais=====", new { @class="form-control" })
    <select class="form-control" id="paises" name="paises">
        <option value="">=======Seleccione un pais=====</option>
        <option>Chile</option>
        <option>Argentina</option>
        <option>Brasil</option>
    </select>*@
    
    
    @Html.LabelFor(model => model.Username, "Nombre de Usuario", new { @class = "sr-only" })
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Nombre de Usuario", @style = "color: red;" })
     @Html.ValidationMessageFor(model => model.Username)
    
    @Html.LabelFor(model => model.Password, new { @class = "sr-only" })
    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
     @Html.ValidationMessageFor(model => model.Password)
    
    <input type="submit" value="Crear" class="btn btn-default" />
}