﻿
@{
    ViewBag.Title = "Mi titulo";
    int miVariable = 10;
}

<h2>TestView</h2>

<p>Mi primer parrafo donde muestro el valor de la variable @miVariable</p>

@if((miVariable % 2) == 0){
    <p>El numero es par y vale @miVariable</p>
}
else{
    <p>El numero es impar y vale @miVariable</p>   
}

@switch (miVariable)
{
    case 1:
        <p>Imprimo uno</p>
        break;
    case 2:
        <p>Imprimo dos</p>
        break;
    default:
        <p>No es ni uno ni dos</p>
        break;
}
<ul>
    @for (int i = 0; i < miVariable; i++)
    {
        <li>Elemento @i</li>
    }
</ul>