﻿@model List<TallerIV.Models.User>

@{
    ViewBag.Title = "VistaTipada";
}

<h2>VistaTipada</h2>

<table>
    <tr>
        <th>Usuario</th>
        <th>Contraseña</th>
    </tr>
    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Username</td>
            <td>@usuario.Password</td>
        </tr>
    }
</table>